@use "../helpers" as *;

.icon {
  &__before {
    display: inline-flex;
    align-items: center;
    column-gap: rem(3);

    &::before {
      content: '';
      width: 0;
      height: 0;
      flex-shrink: 0;


      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    &--white-box-arrow-in-right{
      &::before {
        background-image: url('../../icons/white-box-arrow-in-right.svg');
        width: rem(16);
        height: rem(16);
      }
    }

    &--white-question-circle-fill {
      &::before {
        background-image: url('../../icons/question-circle-fill.svg');
        width: rem(16);
        height: rem(16);
      }
    }

    &--white-bookmark-fill {
      &::before {
        background-image: url('../../icons/bookmark-fill.svg');
        width: rem(16);
        height: rem(15);
      }
    }

    &--white-arrow-caret-down-fill{
      &::before {
        background-image: url('../../icons/caret-down-fill.svg');
        width: rem(18);
        height: rem(18);
      }
    }

    &--white-search {
      &::before {
        background-image: url('../../icons/search.svg');
        width: rem(19);
        height: rem(19);
      }
    }

    &--black-headphones {
      &::before {
        background-image: url('../../icons/black-headphones.svg');
        width: rem(16);
        height: rem(16);
      }
    }

    &--chevron-right {
      column-gap: rem(10);

      &::before {
        background-image: url('../../icons/chevron-left.svg');
        width: rem(16);
        height: rem(16);
      }
    }

    &--yellow-star-fill {
      &::before {
        background-image: url('../../icons/yellow-star-fill.svg');
        width: rem(14);
        height: rem(14);
      }
    }
  }

  &__after {
    display: inline-flex;
    align-items: center;
    column-gap: rem(3);

    &::after {
      content: '';

      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    &--white-arrow-caret-down-fill{
      &::after {
        background-image: url('../../icons/caret-down-fill.svg');
        width: rem(9);
        height: rem(5);
      }
    }

    &--pipe {
      &::after {
        content: '|';
        color: var(--color-dark-20);
        padding-inline: rem(5) rem(10);
      }
    }

    &--blue-info-circle-fill {
      &::after {
        background-image: url('../../icons/info-circle-fill.svg');
        width: rem(12);
        height: rem(12);
      }
    }

    &--chevron-right {

      &::after {
        background-image: url('../../icons/chevron-right.svg');
        width: rem(16);
        height: rem(16);
      }
    }

    &--play-circle-fill {
      &::after {
        background-image: url('../../icons/play-circle-fill.svg');
        width: rem(38);
        height: rem(38);
      }
    }

    &--play-circle {
      &::after {
        background-image: url('../../icons/play-circle.svg');
        width: rem(35);
        height: rem(35);
      }
    }

    &--x {
      &::after {
        background-image: url('../../icons/x.svg');
        width: rem(16);
        height: rem(16);
      }
    }

    &--previous {
      &::after {
        background-image: url('../../icons/previous.svg');
        width: rem(25);
        height: rem(25);
      }
    }

    &--next {
      &::after {
        background-image: url('../../icons/next.svg');
        width: rem(25);
        height: rem(25);
      }
    }
  }
}
